#page-wrapper
{
  width: 100%;
  padding: 0;
  background-color: #fff;
}

@media(min-width:768px)
{
  #page-wrapper
  {
    padding: 10px;
  }
}

.questionText
{
  text-align: center;
  background-color: #572CE6;
  padding: 10px;
  color: #FFFFFF;
  margin: 10px;
}