<div id="page-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Search
            <small>Search questions</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">search</li>
        </ol>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">

                <form ng-submit="submit()">
                    <div id="settings-container" class="box box-default">
                        <div class="box-header with-border"><h3 class="box-title">Search Questions</t></h3></div>
                        <div class="box-body">
                            <tags-input ng-model="tags" max-tags="3" on-tag-adding="checkTag($tag)" style="width:90%" placeholder="Enter the tags you would like to search for">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <input type="submit" style="margin-left: 20px">
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>