<!-- Header -->
<div id="header">
    <div class="logo"><a ui-sref="dashboard.question">Athena</a></div>
    <div class="icon-container">
        <i class="fa fa-cog fa-2x"></i>
    </div>
</div>

<div id="dashboard-container">
    <!-- side bar -->
    <div class="sidebar">
        <div class="user-profile">
            <i class="fa fa-user fa-4x"></i>
            <div class="user-name">Chang Kon Han</div>
        </div>
        <div class="list">
            <!-- add in links -->
            <div class="list-item">
                <a ui-sref="dashboard.question"><i class="fa fa-star"></i> Questions</a>
            </div>
        </div>
    </div>

    <!-- child view -->
    <ui-view class="content"></ui-view>
</div>