<div id="page-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Groups
            <small>Create and manage groups</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">groups</li>
        </ol>
    </section>

    <div class="container-fluid">
        <form>

            <div id="settings-container" class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">Create a new group</h3></div>
                <div class="box-body">
                    <input type="text" style="width:50%" placeholder="Group name" name="inputName" ng-model="groupName" required ng-trim="true">
                </div>
                <div class="box-body">
                    <input type="text" style="width:50%" placeholder="Description (optional)" name="inputDescription" ng-model="description" ng-trim="true">
                </div>
                <div class="box-body">
                    <textarea placeholder="Add member emails/accounts (one per line)" style="width:50%;height:100px" name="inputEmails" ng-model="emailEntries" ng-trim="true" > </textarea>
                </div>
            </div>

            <div class="selectFile">
                <button class="btn btn-success btn-lg" ng-click="uploadGroup()"><i class="fa fa-plus"></i> Submit</button>
            </div>
        </form>

    </div>
</div>