<!-- Header -->
<div id="header">
    <div class="logo"><a ui-sref="dashboard.question">Athena</a></div>
    <div class="icon-container">
        <i class="fa fa-cog fa-lg"></i>
    </div>
</div>

<div id="dashboard-container">
    <!-- side bar -->
    <div class="sidebar">
        <div class="list">
            <!-- add in links -->
            <div class="list-item">
                <a ui-sref="dashboard.question"><i class="fa fa-star"></i> Questions</a>
            </div>
            <div class="list-item">
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </div>
            <div class="list-item">
                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
            </div>
            <div class="list-item">
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </div>
        </div>
    </div>

    <!-- child view -->
    <ui-view class="content"></ui-view>
</div>