#header
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: white !important;
    background-color: $primary-color;

    .logo
    {
        font-size: 1.5em;
        flex: 1;
        text-align: center;

        a
        {
            color: white;
            text-decoration: none;
        }
    }

    .icon-container
    {
        display: flex;
        align-items: center;
        flex: 10;
        justify-content: flex-end;
        padding-right: 30px;
    }
}