<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Athena Signup</title>
		<link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/dist/css/AdminLTE.css}" />
	</head>
	<body class="hold-transition register-page">

		<div id="content" class="register-box">
			<div class="register-logo">
				<b>Athena</b>
			</div>
			<div class="register-box-body">
				<p class="login-box-msg">Sign up</p>

				<div th:if="${!#strings.isEmpty(message)}"
					 th:class="${message.type.cssClass}"
					 th:text="${message.text}">error message text</div>

				<form id="signup" th:action="@{/signup}" method="post" th:object="${signupForm}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<div class="formInfo">
						<div class="error" th:if="${#fields.hasErrors('*')}">Unable to sign up. Please fix the errors below and resubmit.</div>
					</div>

					<div class="form-group has-feedback">
						<input type="text" class="form-control" th:field="*{firstName}" placeholder="first name" />
					</div>

					<div class="form-group has-feedback">
						<input type="text" class="form-control" th:field="*{lastName}" placeholder="last name" />
					</div>

					<div class="form-group has-feedback">
						<input type="password" class="form-control" th:field="*{password}" placeholder="password" />
						<i class="fa fa-lock form-control-feedback"></i>
					</div>

					<button class="btn btn-primary btn-block btn-flat" type="submit">Sign Up</button>
				</form>
			</div>

		</div>
	</body>
</html>

