// athena color scheme
$primary-color: #886aea;
$secondary-color: #7a5fd2;

// dashboard background color
$dashboard-background: #181818;
$dashboard-background-hover: #131313;

// grey
$dashboard-grey: #f2f2f2;
$dashboard-grey-alternative: #adadad;